Source: ssu-tools
Section: admin
Priority: optional
Maintainer: Marius Vollmer <marius.vollmer@nokia.com>
Build-Depends: debhelper
Standards-Version: 3.5.10

Package: ssu-tools
Architecture: all
Description: Tools related to Seamless Software Updates
